vendor/
node_modules/
.env
.env.backup
.git/
.github/
.gitignore

bootstrap/cache/*.php
!bootstrap/cache/.gitignore

storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/app/*
!storage/app/.gitignore

tests/
phpunit.xml
.phpunit.result.cache

*.md
README.md
docker-compose*.yml
*.log

.idea/
.vscode/
.DS_Store